<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>order</title>
<link th:href="@{/css/stock.css}" rel="styleSheet">
</head>
<body>
	<!-- コメントの書き方 -->
	<h3>商品発注</h3>
	<div style="text-align: center;"><a th:href="@{'/stock/sendorder'}" align="right">発注する</a></div>
	<div style="text-align: center;"><a th:href="@{'/admin/stocklist'}" align="right">在庫一覧に戻る</a></div>
	<table border="1">
		<tr>
			<th>商品コード</th>
			<th>商品名</th>
			<th>単価</th>
			<th>在庫個数</th>
			<th>基準値</th>
			<th>発注</th>
		</tr>
		<tr th:each="item : ${stockForm.stockList}" align="center">
			<td th:text="${item.itemcode}"></td>
			<td th:text="${item.itemname}"></td>
			<td th:text="${item.itemprice}" align="right"></td>
			<td th:if="${item.stock} == null" align="right">***</td>
			<td th:unless="${item.stock} == null" th:text="${item.stock.stock}" align="right"></td>
			<td th:if="${item.stock} == null" align="right">***</td>
			<td th:unless="${item.stock} == null" th:text="${item.stock.standard_stock}" align="right"></td>
			<td>
				<form th:action="@{'/stock/putorder'}" method="post" style="display:inline-flex">
					<input type="text" name="order" />
					<input type="hidden" name="itemcode" th:value="${item.itemcode}"/>
					<input type="submit" class="cart" name="regist" value="注文"/>
				</form>
			</td>
		</tr>
	</table>
</body>
</html>