<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>Goods</title>
<link th:href="@{/css/goods.css}" rel="styleSheet">
</head>
<body>
	<H3>スーパーマーケット　商品一覧</H3>
	<div sec:authorize="${hasRole('ADMIN')}"><a th:href="@{'/admin'}" align="right">管理画面</a></div>
	<form th:action="@{'/logout'}" method="post">
		<button>ログアウト</button>
	</form>
	<div style="text-align: center;"><a th:href="@{'/cart'}" align="right">🛒カート</a></div>
	<div style="text-align: center;"><a th:href="@{'/sales'}" align="right">購入履歴</a></div>
	<table border="1">
		<tr>
			<th>商品コード</th>
			<th>商品名</th>
			<th>商品画像</th>
			<th>単価</th>
			<th>カート</th>
		</tr>
		<tr th:each="item : ${goods}" align="center">
			<td th:text="${item.itemcode}"></td>
			<td th:text="${item.itemname}"></td>
			<td> <img th:src="@{/picture/{item}.jpg (item=${item.itempicture})}"></td>
			<td th:text="${item.itemprice}" align="right"></td>
<!--/*		<td th:text="${item.enableflag}"></td> */-->
			<td>
				<form th:action="@{'/cartin'}" method="post">
					<input type="hidden" name="itemcode" th:value="${item.itemcode}"/>
					<input type="submit" class="cart" name="regist" value="カート登録"/>
				</form>
			</td>
		</tr>
	</table>
</body>
</html>