<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cart</title>
<link th:href="@{/css/cart.css}" rel="styleSheet">
</head>
<body>
	<h3>カート画面</h3>
		<form th:action="@{/cartcalculate}" method="post" th:object="${cartForm}">
			<table border="1">
				<tr>
					<th>商品コード</th>
					<th>商品名</th>
					<th>単価</th>
					<th>個数</th>
				</tr>
				<tr th:each="item, stat : *{cartList}" align="center">
					<td th:text="${item.itemcode}"></td>
					<td th:text="${item.item.itemname}"></td>
					<td th:text="${item.item.itemprice}" align="right"></td>
					<td align="left">
						<input type="hidden" th:field="*{cartList[__${stat.index}__].cartId}" />
						<input type="hidden" th:field="*{cartList[__${stat.index}__].itemcode}" />
						<input type="hidden" th:field="*{cartList[__${stat.index}__].item.itemname}" />
						<input type="hidden" th:field="*{cartList[__${stat.index}__].item.itemprice}" />
						<input type="text" th:field="*{cartList[__${stat.index}__].sales}" />
						<span th:errors="*{cartList[__${stat.index}__].sales}"></span>
					</td>
				</tr>
			</table>
			<input type="submit" class="order" name="order" value="注文"/>
		</form>
</body>
</html>