<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Login Form</title>
<link th:href="@{/css/login.css}" rel="styleSheet">
</head>
<body>
	<h3>スーパーマーケット　ログインフォーム</h3>
	<p th:if="${param.error}">
		ログインエラーです
	</p>
	<form th:action="@{/login}" method="post">
		<table>
			<tr>
				<td><label for="username"><b>User:</b></label></td>
				<td><input type="text" id="username" name="username" value="userId" required /></td>
			</tr>
			<tr>
				<td><label for="password"><b>Password:</b></label></td>
				<td><input type="password" id="password" name="password" value="password" required /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><button type="submit"><b>ログイン</b></button></td>
			</tr>
		</table>
	</form>
	<a th:href="@{/signup}"><b>ユーザ新規登録</b></a>
</body>
</html>